<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4bb3ff43-0ffc-41d2-aada-58146c96e379/resourceGroups/EAuction/providers/Microsoft.ContainerRegistry/registries/EAuctionDemo</ResourceId>
    <ResourceName>EAuctionDemo</ResourceName>
    <ResourceGroup>EAuction</ResourceGroup>
    <Subscription>production: Banked Account nzQyj</Subscription>
    <RegistryUrl>https://eauctiondemo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7be6e5dc-842a-4259-9977-68681da0ecd6</ProjectGuid>
  </PropertyGroup>
</Project>